
teoremagrafospequenios/teorema/.classpath
teoremagrafospequenios/teorema/.project
teoremagrafospequenios/teorema/.settings/org.eclipse.core.resources.prefs
teoremagrafospequenios/teorema/.settings/org.eclipse.jdt.core.prefs
teoremagrafospequenios/teorema/.settings/org.eclipse.m2e.core.prefs
